<div class="container flex flex-col items-center justify-center content-around h-full">
  <!-- Stage -->
  <!-- <stage [roasts]="logs" class="w-full"></stage> -->
  <stage  class="w-full flex-grow pb-6"></stage>


  <!-- Roast Input -->
  <div class="flex flex-row felx-noneitems-center justify-between content-around w-full">
    <input class="flex-grow rounded-3xl max-h-[220px] h-full p-4 shadow-lg focus:shadow-2xl outline-none" placeholder="Yo mama is..." [(ngModel)]="roast" (keyup.enter)="dunzo($event)" />
    <button class="flex-none p-3 rounded-full shadow-md hover:shadow-indigo-500/50 bg-indigo-500 hover:bg-indigo-600" type="button" (click)="dunzo()">
      <rocket />
    </button>
  </div>


</div>
